{% extends 'card_layout.html' %}
{% block icon %}fa-question{% endblock %}
{% block title %}About this tool{% endblock %}
{% block content %}
<p>
The <em>amiv contractor</em> generates contracts for the
<em>Kontakt</em> job fair.
</p>
<p>
All company data is pulled from the <em>CRM</em> and can be edited there.
</p>
<p>
The settings are currently only stored in the
<a href="https://gitlab.ethz.ch/amiv/kontakt/contractor/blob/master/contractor/">git repository</a>, you can send a pull request yourself or
ask Kontakt IT to update them for you. Eventually, the settings
are going to be managed in the <em>CRM</em> as well.
</p>
{% endblock %}
